.thumbnail{
    width:100px;
    margin : 0px;
    padding : 0px;

}

#lightbox{
    margin : 0px;
    padding : 0px;
	}
#lightboxDetails{
	}
#lightboxCaption{ color : white; text-align: center;}
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;}
#overlay img{ border: none; }

#overlay{ background-image: url("../images/overlay.png"); }


body{
    padding : 0px;
    margin : 0px;
    background-color: #1c1c1c;
    color : #a6a6a6;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.greySpan{
    background-color: grey;
    width : 100%;
}

.section{
    width:100%;
    padding : 10px;
}

.header{
    background-color: #4e4e4e;
    color : black;
    padding-left : 20px;

}

.idea{
    width: 750px;
    background-color: #262626;
    color : #9c9c9c;
    padding-left : 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.titleSpan{
    padding : 0px;
    padding-left : 30px;
}

p{
    text-indent: 20px;
}

h3{
    display: inline-block;
    padding-bottom: 3px;
    border-bottom: 1px solid grey;
}

a{
color: white;
}